<form method="post" action="">
  <label for="username">Username</label>
  <div class="input">
    <input type="text" name="username" placeholder="your-username" />
  </div>
  <label for="email">Email</label>
  <div class="input">
    <input type="text" name="email"
      placeholder="hello@mywebsite.org")
      />
  </div>
  <label for="password">Password</label>
  <div class="input">
    <input type="password" name="password" placeholder="********" />
  </div>
  <label for="confirm">Confirm Password</label>
  <div class="input">
    <input type="password" name="confirm" placeholder="********" />
  </div>
  <input type="submit" value="Signup" class="btn" />
</form>

