{% extends "base.html" %}

{% block title %}
  {{account.id}} / {{account.fullname}}
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>
      <img src="{{account.image}}" class="gravatar" alt="" />
      {{account.fullname}}
      <small>({{account.id}})</small>
    </h1>
  </div>

  <div class="row">
    <div class="span3 meta">
      <ul class="vcard">
        <li>
          <i class="icon-time" title="Joined date is"></i> {{account.createdNice}}
        </li>
        <li>
          <i class="icon-twitter"></i> <a href="{{account.id}}">{{account.id}}</a>
        </li>
        <li class="description">
          {{account.description}}
        </li>
      </ul>
      <ul class="stats">
        <li>
          <strong>{{views.length}}</strong> views
        </li>
      </ul>
    </div>

    <div class="span9">
      <ul class="view-summary-list">
      {% for view in views %}
        <li>
          <h3>
            <a href="/{{view.owner}}/{{view.name}}">
              {{view.title}} <small>({{view.name}})</small>
            </a>
          </h3>
          {{view.description}}
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
