<div class="account view">
  <h1>${account.id} (${account.fullname})</h1>

  <div class="row">
    <div class="span12">
      <dl class="vcard">
        <dt>Member since</dt>
        <dd>Just now</dd>
      </dl>
    </div>
    <div class="span4">
      <ul class="stats">
        <li>
          <strong>${threadCount}</strong><span>threads</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      &nbsp;
      {{partial(threads) "thread-summary.html"}}
    </div>
    <div class="span4">
      {{if isOwner}}
      <div class="thread-create-form">
        <h3>Create new thread</h3>
        <p><span class="label warning">Not yet operational</span></p>
        <form method="post" action="" class="form-stacked">
          <fieldset>
            <div class="clearfix">
              <label for="title">Title</label>
              <div class="input">
                <input type="text" name="title">
              </div>
            </div>
            <div class="action">
              <input type="submit" class="btn primary" value="Create">
            </div>
          </fieldset>
        </form>
      </div>
      {{/if}}
    </div>
  </div>
</div>
