<div class="hero-unit">
  <h1>Interweave time and space.</h1>
  <p>Create <strong>'notes' &mdash; for places, people,
    events &mdash;</strong> and string them together into
  <strong>'threads'</strong> at the click of a button.
  <strong>Automatically visualize</strong> the results
  temporally and spatially, search by any attribute,
  automatically <strong>import Wikipedia articles</strong>
  and much more.</p>
</div>

<div class="row">
  <div class="span-one-third column">
    <h2>Create Notes</h2>
    <p>Create notes for your research or for yourself. Notes can be created
    from external sources such as Wikipedia articles, modified and re-exported.
    Organize your notes into 'Threads' so that they can be easily viewed,
    managed, shared and visualized.</p>
  </div>
  <div class="span-one-third column">
    <h2>Share and Collaborate</h2>
    <p>Share your notes and threads with everyone or just a select few. Allow
    others to contribute and reuse your material.</p>
  </div>
  <div class="span-one-third column">
    <h2>Visualize</h2>
    <p>Create timelines and timemaps at the click of a button.</p>
	  <img
      src="http://m.okfn.org/files/talks/media/weavinghistory-napoleon-20091107.png"
      style="width: 80%;"
      />
  </div>
</div>

