<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Timeliner - Make Timelines and TimeMaps fast! - from the Open Knowledge Foundation Labs</title>
  <meta name="description" content="Timeliner - Make Timelines and TimeMaps fast! - from the Open Knowledge Foundation Labs" />

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href="/vendor/bootstrap/2.2.2/bootstrap.css" rel="stylesheet">
  <link href="/vendor/bootstrap/2.2.2/bootstrap-responsive.css" rel="stylesheet">
  <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <!-- okf ribbon -->
  <link rel="stylesheet" href="http://assets.okfn.org/themes/okfn/okf-panel.css"/>

{% block content %}{{content}}{% endblock %}

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33874954-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
