{% extends "base.html" %}

{% block bodyclass %}create{% endblock %}

{% block content %}
<div class="page-header">
  <h1>
    Create your Time<span class="brand-ext">Map</span>
  </h1>
</div>

<div class="overview">
  <h2>It's as easy as 1-2-3!</h2>
  <div class="row">
    <div class="span4">
      <div class="well">
        <h3>1. Create a Spreadsheet</h3>
        <p>Add your dates and places to a Google Spreadsheet.</p>
      </div>
    </div>
    <div class="span4">
      <div class="well">
        <h3>2. Connect and Customize</h2>
        <p>Connect your spreadsheet with TimeMapper and customize the results.</p>
      </div>
    </div>
    <div class="span4">
      <div class="well">
        <h3>3. Publish, Embed and Share</h3>
        <p>Publish your TimeMap at your own personal url, then share or embed on your site.</p>
      </div>
    </div>
  </div>
</div>

<hr />

<div class="instructions">

<h2>Let's Get Started &hellip;</h2>
<div id="create" class="row">
  <div class="span8 offset2"><div class="well">
    <h3>
      1. Create your Spreadsheet
      <br />
      <small>(if you don't have one already!)</small>
    </h3>

    <div class="row">
      <div class="span6 offset1">
        <p>Get started by copying <strong><a href="https://docs.google.com/a/okfn.org/spreadsheet/ccc?key=0AqR8dXc6Ji4JdFRNOTVYYTRqTmh6TUNNd3U2X2pKMGc#gid=0">this template</a></strong>. For more details or help with problems check out the <a href="#faq">FAQ below</a>.</p>

        <div class="alert alert-success" style="margin-top: 30px;">
          Impatient to try this out but don't have a spreadsheet yet?<br />
        <a href="#" class="js-demo-sheet" data-url="https://docs.google.com/spreadsheet/ccc?key=0Al6mO9_3Hr2PdGZnRjEwUWxOekhreTNNZEFEMWRZbkE"
          >
          Click here to use a pre-prepared example &raquo;</a>
        </div>
      </div>
    </div>
  </div></div>
</div>

<div id="connect" class="row js-connect">
  <div class="span8 offset2"><div class="well">
<h3>
  2. Connect, Customize and Publish
</h3>

<form class="js-load-url form-horizontal" action="" method="GET">
  <fieldset>
    <div class="control-group">
      <label for="source" class="control-label">Spreadsheet</label>
      <div class="controls">
        <p>
        <button title="Select from Google Drive" class="gdrive-import btn"><i class="gdrive"></i> Select from Your Google Drive</button>
        </p>
        <input type="url" value="" name="source" required
          class="input span6"
          placeholder="Or paste the Google Spreadsheet URL directly" />
        <span class="help-block">
          Note: you must "Publish" your spreadsheet &ndash; go to <em>File menu &rarr; Publish to Web</em> in the spreadsheet and then select <em>"Start publishing..."</em>
        </span>
      </div>
    </div>
    <div class="stage2" style="display: none;">
      <div class="control-group">
        <label for="title" class="control-label">Title</label>
        <div class="controls">
          <input type="text"
            value=""
            name="title"
            class="input span6"
            required
            placeholder="My TimeMap Title" />
        </div>
      </div>
      <div class="control-group">
        <label for="slug" class="control-label">Slug</label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on">/{{currentUser.id}}/</span>
            <input type="text"
              value=""
              name="slug"
              class="input span4"
              placeholder="my-timemap-title"
              required
              pattern="[a-z0-9-]+"
              title="The slug needs to be 'url-usable' and so must be lowercase containing only alphanumeric characters and '-'"
              />
          </div>
          <span class="help-block">The url of your new timemap. Choose wisely as this hard to change!</span>
        </div>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary js-submit">Connect and Publish &raquo;</button>
      </div>
    </div>
  </fieldset>
</form>
</div></div>
</div>

</div> <!-- /instructions -->

<hr />

<div id="faq" class="faq">
  <h2>FAQ</h2>

  <h3>What URL do I use to connect my spreadsheet?</h3>
  <p>Use the URL you get by clicking your spreadsheet's <strong>Share</strong> button and copying the <strong>Link to share</strong> box.</p>

  <p>Note that although you must also <strong>Publish to the web</strong>, TimeMapper does not use the URL found in the publication pop-up.</p>

  <h3>What structure must the spreadsheet have?</h3>
  <p>TimeMapper recognizes certain columns with specific names. The best overview of these columns is <a href="https://docs.google.com/a/okfn.org/spreadsheet/ccc?key=0AqR8dXc6Ji4JdFRNOTVYYTRqTmh6TUNNd3U2X2pKMGc#gid=0">the template</a>, which has rows of instructions and examples.</p>

  <p>Not all fields are required. The only required fields are <b>Title</b> and <b>Start</b> fields, and even <b>Start</b> can be omitted if you just want a map. Note that you can add any number of other columns beyond those that TimeMapper uses.</p>

  <h3>How do I format dates?</h3>
  <p>The preferred date format is ISO 8601 (YYYY-MM-DD), but TimeMapper recognizes most types of date.</p>

  <p>If a date's month and day are ambiguous (e.g. is 08-03-1798 UK notation for 8 March, or is it US notation for 3 August?), the first number will be interpreted as the month.</p>

  <h3>What kinds of geodata are supported?</h3>
  <p>The <b>Location</b> column accepts two types of geodata: latitude-longitude coordinates or GeoJSON objects. Coordinates must be in the format <emph>lat, long</emph> (e.g. <emph>37.5, -122</emph>).</p>

  <p>See blog posts on School of Data for more information on getting <a href="http://schoolofdata.org/2013/02/19/geocoding-part-ii-geocoding-data-in-a-google-docs-spreadsheet/">lat-long coordinates</a> and <a href="http://schoolofdata.org/2013/10/31/geocoding-geojson-boundaries-koordinates/">GeoJSON boundaries</a> into your spreadsheet.</p>  

</div>

{% endblock %}

{% block extrabody %}
  <script type="text/javascript" src="http://okfnlabs.org/recline.backend.gdocs/backend.gdocs.js"></script>

  <script src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">
    // setup gdocs file picker
    google.load('picker', '1');
  </script>

  <!-- non-library javascript specific to this demo -->
  <script type="text/javascript" src="js/create.js"></script>
{% endblock %}
