{% extends "base.html" %}

{% block title %}{{ gettext('Dashboard') }}{% endblock %}
{% block bodyclass %}dashboard{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>{{ gettext('Hi there') }} {{account.fullname}}</h1>
  </div>
  
  <div class="menu">
    <p>
      <a href="/create" class="btn btn-large btn-success">{{ gettext('Create a new Timeline or TimeMap') }} &raquo;</a>
    </p>
  </div>

  <h2>{{ gettext('Your Existing TimeMaps') }}</h2>
  <ul class="view-summary-list">
  {% for view in views %}
    <li>
      <h3>
        <a href="/{{view.owner}}/{{view.name}}">
          {{view.title}} <small>({{view.name}})</small>
        </a>
      </h3>
    </li>
  {% endfor %}
  </ul>
</div>
  
{% endblock %}
