{% extends "base.html" %}

{% block bodyclass %}home{% endblock %}

{% block content %}
    <div class="hero-unit">
      <h1>
        Time<span class="brand-ext">Mapper</span>
        <small>{{ gettext('Elegant timelines and maps created in seconds') }}</small>
      </h1>
      <br />
      <p>
        <a href="/create" class="btn btn-large btn-primary">
          {{ gettext("It's free and easy to use") }} &ndash;
          {{ gettext("Get started now") }} &raquo;
        </a>
      </p>
    </div>

    <div class="">
      <h2 style="text-align: center;">{{ gettext("Watch the 1 minute Tutorial") }}</h2>
      <iframe width="480" height="360" src="//www.youtube.com/embed/lCpilatN9yE?rel=0" frameborder="0" allowfullscreen style="display: block; margin: auto;"></iframe>
    <div>

    <div class="examples row">
      <div class="span12">
        <h2 style="text-align: center;">{{ gettext("Examples") }}</h2>
      </div>
      <div class="span4">
        <h4><a href="/rufuspollock/major-battles-napoleonic-wars">Battles in the Napoleonic Wars</a></h4>
        <a href="/rufuspollock/major-battles-napoleonic-wars">
          <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Charles_Th%C3%A9venin_-_Reddition_de_la_ville_d%27Ulm.jpg/320px-Charles_Th%C3%A9venin_-_Reddition_de_la_ville_d%27Ulm.jpg" alt="" />
        </a>
      </div>
      <div class="span4">
        <h4><a href="/okfn/medieval-philosophers">Medieval Philosophers</a></h4>
        <a href="/okfn/medieval-philosophers">
          <img src="http://farm6.staticflickr.com/5323/8768093210_3343870b2a_n.jpg" alt="Medieval Philosophers" />
        </a>
      </div>
      <div class="span4">
        <h4><a href="http://timemapper.okfnlabs.org/adamrabinowitz/archaeowinetimeliner">Archaeology of Wine</a></h4>
        <a href="http://timemapper.okfnlabs.org/adamrabinowitz/archaeowinetimeliner">
          <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Hippone_Mosa%C3%AFque_romaine_les_Amours_vendangeurs.jpg/320px-Hippone_Mosa%C3%AFque_romaine_les_Amours_vendangeurs.jpg?uselang=en-gb" alt="" />
        </a>
      </div>
    </div>


        <h2 style="text-align: center; margin: 30px;">{{ gettext("How It Works") }}</h2>
        <div class="row instructions">
          <div class="span4">
            <div class="well">
              <h3>{{ gettext("1. Create a Spreadsheet") }}</h3>
              <p>{{ gettext("Add your dates and places to a Google Spreadsheet.") }}</p>
            </div>
          </div>
          <div class="span4">
            <div class="well">
              <h3>{{ gettext("2. Connect and Customize") }}</h2>
              <p>{{ gettext("Connect your spreadsheet with TimeMapper and customize the results.") }}</p>
            </div>
          </div>
          <div class="span4">
            <div class="well">
              <h3>{{ gettext("3. Publish, Embed and Share") }}</h3>
              <p>{{ gettext("Publish your TimeMap at your own personal url, then share or embed on your site.") }}</p>
            </div>
          </div>
        </div>

        <h2 style="text-align: center; margin: 30px 0;" id="credits">{{ gettext("Credits") }}</h2>
        <p style="width: 500px; margin: auto;">
        {{ gettext('TimeMapper is an open-source project of <a href="http://okfnlabs.org/">Open Knowledge Foundation Labs</a>.') }} {{ gettext('It is possible thanks to a set of awesome open-source components including <a href="http://timeline.verite.co/">TimelineJS</a>, <a href="http://okfnlabs.org/recline/">ReclineJS</a>, <a href="http://leafletjs.com/">Leaflet</a>, <a href="http://backbonejs.org/">Backbone</a> and <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>. You can find the <a href="https://github.com/okfn/timemapper">full open-source source for TimeMapper on GitHub here') }}</a>.
        </p>
      </div>
{% endblock %}
