{% extends "base.html" %}

{% block bodyclass %}home{% endblock %}

{% block content %}
    <div class="hero-unit">
      <h1>
        Timeliner
        <small>Make elegant timelines and timemaps from Google Spreadsheets</small>
      </h1>
      <br />
      <p><a href="/account/login" class="btn btn-large btn-primary">Sign up or Sign in with Twitter <i class="icon-twitter"></i></a></p>
    </div>

    <h2>Examples</h2>
    <h5><a href="view/?url=https://docs.google.com/spreadsheet/ccc?key=0Al6mO9_3Hr2PdGZnRjEwUWxOekhreTNNZEFEMWRZbkE">Medieval Philosophers</a> (source)</h5>
    <a href="view/?url=https://docs.google.com/spreadsheet/ccc?key=0Al6mO9_3Hr2PdGZnRjEwUWxOekhreTNNZEFEMWRZbkE">
      <img src="http://farm6.staticflickr.com/5323/8768093210_3343870b2a_n.jpg" alt="Medieval Philosophers" />
    </a>
    <h5>
      <a href="view/?url=https://docs.google.com/a/okfn.org/spreadsheet/ccc?key=0AvNIiaD6NBlTdC10NjhGOHp6am44VG00R0pNaVMtQ1E">London Tube</a> (<a href="https://docs.google.com/a/okfn.org/spreadsheet/ccc?key=0AvNIiaD6NBlTdC10NjhGOHp6am44VG00R0pNaVMtQ1E#gid=0">source</a>)
    </h5>
    <a href="view/?url=https://docs.google.com/a/okfn.org/spreadsheet/ccc?key=0AvNIiaD6NBlTdC10NjhGOHp6am44VG00R0pNaVMtQ1E">
      <img src="..." alt="" />
    </a>


        <h2 style="text-align: center; margin: 30px;">How It Works</h2>
        <div class="row instructions">
          <div class="span4">
            <div class="well">
              <h3>Create a Spreadsheet</h3>
              <p>We suggest you copy <a href="https://docs.google.com/spreadsheet/ccc?key=0Aon3JiuouxLUdDlGV2lCakoydVh1U014cHRqcXpoWVE">this template</a> so that columns have the right names.</p>
            </div>
          </div>
          <div class="span4">
            <div class="well">
              <h3>Publish the Spreadsheet</h2>
              <p>Publish your spreadsheet - see File menu &rarr; Publish to Web in Google Docs.</p>
            </div>
          </div>
          <div class="span4">
            <div class="well">
              <h3>Connect it to Timeliner</h3>
              <p>Paste the spreadsheet URL (e.g. ) into the form above and hit Load.</p>
            </div>
          </div>
        </div>

        <h2 style="text-align: center; margin: 30px 0;" id="credits">Credits</h2>
        <p style="width: 500px; margin: auto;">
        Timeliner is only possible thanks to a set of awesome open-source components including <a href="http://timelinejs.org/">TimelineJS</a>, <a href="http://okfnlabs.org/recline/">ReclineJS</a>, <a href="http://leafletjs.com/">Leaflet</a>, <a href="http://backbonejs.org/">Backbone</a> and <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>. You can find the <a href="https://github.com/okfn/timeliner">full open-source source for Timeliner on GitHub here</a>.
        </p>
      </div>
{% endblock %}
