<div class="hero-unit">
  <h1>Interweave time and space.</h1>
  <p>Create <strong>'notes' &mdash; for places, people,
    events &mdash;</strong> and string them together into
  <strong>'threads'</strong> at the click of a button.
  <strong>Automatically visualize</strong> the results
  temporally and spatially, search by any attribute,
  automatically <strong>import Wikipedia articles</strong>
  and much more.</p>
  <p>
    <a href="/account/register" class="btn primary large">Sign up now &raquo;</a>
    &mdash; or &mdash;
    <a href="/about" class="btn primary large">Take the tour &raquo;</a>
  </p>
</div>

<div class="row">
  <h2>Recent Activity</h2>
</div>
