/**********************************************************
  * Amendments to base theme (bootstrap)
  *********************************************************/

body {
  padding-top: 60px;
}

/**********************************************************
  * Frontpage
  *********************************************************/

.hero-unit {
  margin-top: 20px;
}

/**********************************************************
  * Accounts
  *********************************************************/

.account.view ul.stats {
  margin-left: 0;
}

.account.view ul.stats li {
  display: inline;
  color: inherit;
}

.account.view ul.stats li strong {
  font-size: 36px;
  display: block;
}

.vcard dt {
  width: 115px;
  float: left;
  font-weight: normal;
  color: gray;
}

.thread-create-form form {
  padding-left: 0;
}

/**********************************************************
  * Threads
  *********************************************************/

/**********************************************************
  * Threads - List
  *********************************************************/

ul.thread-summary-list {
  margin-left: 0;
  list-style-type: none;
}

.thread-summary-list ul li {
}

.thread-summary-list h3 {

}

/**********************************************************
  * Threads - View
  *********************************************************/

.thread-info .description {
  font-style: italic;
}

.snippet {
  max-height: 50px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.thread-nav {
  float: right;
}

/**********************************************************
  * Note List
  *********************************************************/

.note-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}
  .note-list ul > li {
    padding: 0px 0px 8px 0;
    border-bottom: 1px solid #cccccc;
  }
  .note-list ul .note-destroy {
    position: absolute;
    right: 5px;
    top: 9px;
    display: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: url(../img/destroy.png) no-repeat 0 0;
  }
    .note-list ul li:hover .note-destroy {
      display: block;
    }
    .note-list ul .note-destroy:hover {
      background-position: 0 -20px;
    }

/**********************************************************
  * Note - Full and Summary
  *********************************************************/

.note.view .description {

}

.note.view ul.tags {
  padding-left: 0; 
}

  .note.view ul.tags li {
      display: inline;
      margin: 0;
      padding: 0px 3px 1px 3px;
      border: none;
      font-weight: normal;
      font-size: 12px;
      color: #111;
      background:#afc6e9;
  }

.note.view .temporal {
  font-style: italic;
}

.note.view .image {
  float: right;
  width: 90px;
}

.note.view .image img {
  width: 90px;
}

/************** Actions *******************/

.note.view .action {
  display: none;
}

.note.view:hover .action {
  display: inherit;
  float: right;
  margin-top: 5px;
}

.note.view:hover .action a {
  padding: 2px 7px 3px;
}

.note.view .show-more {
  display: none;
}

/************** Summary *******************/

.note.view.summary .description {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.note.view.summary .show-less {
  display: none;
}

.note.view.summary .show-more {
  display: inline;
}

/**********************************************************
  * Note Quick Add App
  *********************************************************/

.note.quick-add form label {
  font-weight: bold;
  font-size: 18px;
  width: 100px;
  text-align: left;
}

.note.quick-add form .input {
  margin-left: 110px;
}

.note.quick-add form input {
  width: 100%;
}


/**********************************************************
  * Time Map
  *********************************************************/

#timemap {
  padding: 5px 0px 0px 0px;
}

div#timelinecontainer{
  width: 100%;
  height: 225px;
}

div#timeline{
  width: 100%;
  height: 100%;
  font-size: 12px;
  background: #CCCCCC;
}

div#mapcontainer {
  width: 100%;
  height: 300px;
}

div#map {
  width: 100%;
  height: 100%;
  background: #EEEEEE;
}

