@import url(http://fonts.googleapis.com/css?family=News+Cycle:400,700|Merriweather:400,300,700);

html {
  height: 100%;
}

body {
  font-size: 14px;
  font-family: Merriweather, serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6, .brand {
  font-family: "News Cycle", Arial, sans-serif;
  font-weight: 700;
}

h3 {
  line-height: 32px;
}

input.input {
  box-sizing: border-box;
  height: 30px;
  width: 100%;
}

.page-header {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.footer {
  font-size: 90%;
  background-color: #f5f5f5;
  padding: 20px 0px;
  margin-top: 20px;
  border-top: solid 1px #ddd;
}

i.gdrive {
  height: 20px;
  width: 20px;
  display: inline-block;
  vertical-align: top;
  background: url(drive20.png);
}

/* we do not have a LH sidebar */
.container-fluid > .content {
  margin-left: 0;
}

.okfn-ribbon {
  position: absolute;
  top: -10px;
  right: 10px;
  z-index: 10000;
}

#okf-panel {
  z-index: 10000;
  top: 0;
  position: absolute;
  width: 100%;
  overflow: hidden;
}

/* Custom scroll-bars */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
  background: rgba(150,150,150,0.8);
}

/**********************************************************
  * Navigation
  *********************************************************/

.navbar {
  margin-bottom: 5px;
}

.navbar-inner {
  background: #e0e7eb;
  padding-top: 0px;
}

.navbar .brand {
  color: #434C50;
  font-weight: 200;
  padding-top: 7px;
  padding-bottom: 6px;
}

.black {
  color: #333;
}

.brand-ext {
  color: #08C;
}

.navbar .brand.by {
  padding-left: 6px;
}

.brand.by span {
  font-size: 75%;
  margin-right: 2px;
}

.brand img {
  margin-top: -3px;
  height: 30px;
  margin-right: 3px;
}

.navbar .divider-vertical {
  background-color: #acbfca;
  border-right: 1px solid #f5f7f8;
  width: 1px;
  margin: 0;
}

.navbar .nav > li > a {
  color: #434c50;
  text-shadow: none;
}

.navbar .nav > li > a:hover {
  color: #222;
}

.navbar ul.nav.pull-right {
  margin-right: 35px;
}

/**************************************************************
  * Front Page
  *************************************************************/

.home .hero-unit {
  margin-top: 45px;
}

.home .examples img {
  width: 100%;
  height: 210px;
}

/**************************************************************
  * Data Views
  *************************************************************/

body.view {
  height: 100%;
}

body.view .navbar {
  margin-bottom: 0px; 
}

body.view .navbar ul.pull-right a {
  padding: 10px 10px 10px;
}

body.view li.tweet {
  margin-top: 10px;
}

body.view .content {
  background-color: none;
  padding: 0px;
  margin: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

body.view .controls {
  display: none;
  position: absolute;
  left: 0;
  z-index: 1000;
  padding-top: 2px;
}

body.view .controls .toolbox {
  margin-left: -2px;
}

body.view .controls .toolbox.hideme input {
  display: none;
}

body.view .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 8px;
}

body.view .loading {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 45px;
}

body.view .navbar ul.nav.pull-right {
  margin-right: 0;
}

.data-views {
  position: absolute;
  top: 42px;
  bottom: 41px;
  left: 0;
  right: 0;
}

.panes, .panes > div, .map, .map > div, .recline-map, .recline-map .map, .recline-timeline {
  height: 100%;
}

.data-views .recline-map {
  margin-left: 0px;
}

/* correct so we have full width of page */
.data-views .timeline-pane {
  margin: 0;
  padding: 0;
  width: 66.66%;
  float: left;
}
.data-views .map-pane {
  margin: 0;
  padding: 0;
  width: 33.33%;
  float: left;
}

.timeline {
  position: relative;
  height: 100%;
}

.vco-storyjs p {
  font-size: 13px;
}

/* get attribution on one line ... */
.leaflet-container .leaflet-control-attribution {
  font-size: 9px;
}

.leaflet-control-attribution img {
  display: none;
}

/**************************************************************
  * Embed
  *************************************************************/

body.embed .navbar {
  display: none;
}

body.embed .data-views {
  top: 0;
}

/**************************************************************
  * Timeline tweaks
  *************************************************************/

.source {
  font-style: italic;
}

.vco-storyjs a.title-link {
  color: #0088cc;
}

i.title-link {
  font-size: 50%;
  color: #000;
}

/* hack to hide the link icon in the forward / back links at the side */
.nav-container i.title-link {
  display: none;
}

/**********************************************************
  * Timeline Only View
  *********************************************************/

body.viewtype-timeline .map-pane {
  display: none; 
}

body.viewtype-timeline .timeline-pane {
  width: 100%;
}

/**********************************************************
  * Timeline Only View
  *********************************************************/

body.viewtype-map .timeline-pane {
  display: none; 
}

body.viewtype-map .map-pane {
  width: 100%;
  height: 100%;
}

/**********************************************************
  * Dashboard View
  *********************************************************/

.dashboard .menu {
  margin: 50px 0px;
}

/**********************************************************
  * Create View
  *********************************************************/

.create .overview h3 {
  margin-top: 0;
  padding-top: 0px;
}

.help-block {
  font-size: 90%;
}

body.create h2, body.create .instructions h3 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

/**********************************************************
  * User View
  *********************************************************/

.gravatar {
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

body.account .page-header .gravatar {
  margin-top: -9px;
}

body.account .meta {
  font-size: 16px;
}

body.account .meta ul {
  list-style-type: none;
  margin-left: 0;
}

body.account .meta ul.vcard {
  margin-top: 8px;
}

body.account .meta ul.vcard li {
  margin-bottom: 5px;
}

body.account .meta ul.vcard .description {
  font-size: 13px;
  margin-top: 8px;
}

.meta ul.stats li {
  display: inline-block; 
}

.meta ul.stats li strong {
  display: block;
  font-size: 42px;
  line-height: 50px;
}

/**********************************************************
  * Views - List
  *********************************************************/

ul.view-summary-list {
  padding-left: 0;
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 50px;
}

ul.view-summary-list li {
  border-bottom: solid 1px #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.view-summary-list h3:first-child {
  margin-top: 0;
}
