@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700);

body {
  font-size: 14px;
  background-color: #eee;
}

body.home .content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.page-header {
  background-color: #f5f5f5;
  padding: 10px 20px 10px;
  margin: -20px -20px 20px;
}

footer {
  background-color: #f5f5f5;
  padding: 10px 10px;
  border-top: solid 1px #eee;
  font-size: 90%;
}

h1, h2, h3, h4, h5, h6, body, p, input, button, select, textarea {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

i.gdrive {
  height: 20px;
  width: 20px;
  display: inline-block;
  vertical-align: top;
  background: url(drive20.png);
}

/* we do not have a LH sidebar */
.container-fluid > .content {
  margin-left: 0;
}

.vmm-timeline p {
  font-size: 12px;
}

body.home .row.instructions .span4 .well {
  height: 100px;
}

.okfn-ribbon {
  position: absolute;
  top: -10px;
  right: 10px;
  z-index: 10000;
}

#okf-panel {
  z-index: 10000;
  top: 0;
  position: absolute;
  width: 100%;
  overflow: hidden;
}

body.home footer {
  margin: 20px -20px -20px;
}

body.home .content {
  margin-bottom: 20px;
}

/**************************************************************
  * Data Views
  *************************************************************/

body.view .navbar {
  margin-bottom: 0px; 
}

body.view li.tweet {
  margin-top: 10px;
}

body.view .controls {
  position: absolute;
  left: 0;
  z-index: 1000;
  padding-top: 2px;
}

body.view .controls .toolbox {
  margin-left: -2px;
}

body.view .controls .toolbox.hideme input {
  display: none;
}

body.view footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.data-views {
  position: absolute;
  top: 42px;
  bottom: 41px;
  left: 0;
  right: 0;
}

.row-fluid, .row-fluid > div, .map, .map > div, .recline-map, .recline-map .map, .recline-timeline {
  height: 100%;
}

.data-views .recline-map {
  margin-left: 0px;
}

.data-views .span4 {
  margin-left: 1%;
}

.timeline {
  position: relative;
  height: 100%;
}

/* get attribution on one line ... */
.leaflet-container .leaflet-control-attribution {
  font-size: 9px;
}

.leaflet-control-attribution img {
  display: none;
}

/**************************************************************
  * Embed
  *************************************************************/

body.embed .navbar {
  display: none;
}

body.embed .data-views {
  top: 0;
}

/**************************************************************
  * Timeline tweaks
  *************************************************************/

.source {
  font-style: italic;
}

