@import url(hypernotes.css);

/**********************************************************
  * Amendments to base theme (bootstrap)
  *********************************************************/

body {
  padding-top: 60px;
}

/**********************************************************
  * Frontpage
  *********************************************************/

.hero-unit {
  margin-top: 20px;
}

/**********************************************************
  * Accounts
  *********************************************************/

.account.view ul.stats {
  margin-left: 0;
}

.account.view ul.stats li {
  display: inline;
  color: inherit;
}

.account.view ul.stats li strong {
  font-size: 36px;
  display: block;
}

.vcard dt {
  width: 115px;
  float: left;
  font-weight: normal;
  color: gray;
}

.thread-create-form form {
  padding-left: 0;
}

/**********************************************************
  * Threads
  *********************************************************/

/**********************************************************
  * Threads - List
  *********************************************************/

ul.thread-summary-list {
  margin-left: 0;
  list-style-type: none;
}

.thread-summary-list ul li {
}

.thread-summary-list h3 {

}

/**********************************************************
  * Threads - View
  *********************************************************/

.thread .description {
  font-style: italic;
}

.snippet {
  max-height: 50px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/**********************************************************
  * Note List
  *********************************************************/

.note-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}
  .note-list ul > li {
    padding: 0px 0px 8px 0;
    border-bottom: 1px solid #cccccc;
  }
  .note-list ul .note-destroy {
    position: absolute;
    right: 5px;
    top: 9px;
    display: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: url(../img/destroy.png) no-repeat 0 0;
  }
    .note-list ul li:hover .note-destroy {
      display: block;
    }
    .note-list ul .note-destroy:hover {
      background-position: 0 -20px;
    }

/**********************************************************
  * Note Summary
  *********************************************************/

.note-summary .title {
  margin: 0 0 5px 0;
}

.note-summary ul.tags {
  padding-left: 0; 
}

  .note-summary ul.tags li {
      display:inline;
      margin:0;
      padding:0 5px 2px 5px;
      border:none;
      font-weight:normal;
      font-size:0.8em;
      color: black;
      background:#afc6e9;
  }

.note-summary .temporal {
  font-style: italic;
}

.note-summary .image {
  float: right;
  width: 90px;
}

.note-summary .image img {
  width: 90px;
}

.note-summary .action {
  display: none;
}

/**********************************************************
  * Note Quick Add App
  *********************************************************/

form.create-note label {
  font-weight: bold;
  font-size: 18px;
  width: 100px;
  text-align: left;
}

form.create-note .input {
  margin-left: 110px;
}

form.create-note input {
  width: 100%;
}

