{% extends "base.html" %}

{% block bodyclass %}edit{% endblock %}

{% block title %}{{ gettext('Edit - ') }}{{dataview.title}}{% endblock %}

{% block content %}
<div class="page-header">
  <h1>
    {{ gettext("Edit your ") }}Time<span class="brand-ext">Map</span>
  </h1>
  <form class="js-dataview-edit form-horizontal" action="" method="POST">
    {% include 'dataview/form.html' %}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary js-submit">{{ gettext('Update') }} &raquo;</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}

{% block extrabody %}
  <script type="text/javascript" src="http://okfnlabs.org/recline.backend.gdocs/backend.gdocs.js"></script>

  <script src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">
    // setup gdocs file picker
    google.load('picker', '1');
  </script>
{% endblock %}
