  <fieldset>
    <div class="control-group">
      <label for="source" class="control-label">{{ gettext('Data Source') }}</label>
      <div class="controls">
        <p>
          <button title="Select from Google Drive" class="gdrive-import btn"><i class="gdrive"></i> {{ gettext('Select from Your Google Drive') }}</button>
          <span class="help-block">({{ gettext('If nothing happens check you are not blocking popups ...') }})</span>
        </p>
        <input
          type="url"
          value="{{dataview.resources[0].url}}"
          name="url"
          required=""
          class="input span6"
          placeholder="{{ gettext('Or paste the Google Spreadsheet URL directly') }}" />
          <span class="help-block"><strong>{{ gettext('Important') }}</strong>: {{ gettext("you must \"publish\" your Google Spreadsheet: go to File Menu in your spreadsheet, then 'Publish to the Web', then click 'Start Publishing'. See") }} <a href="#faq-publish">{{ gettext('the FAQ below') }}</a> {{ gettext('for more details') }}</span>.

      </div>
    </div>
    <div class="stage2">
      <div class="control-group">
        <label for="title" class="control-label">{{ gettext('Title') }}</label>
        <div class="controls">
          <input
            type="text"
            value="{{dataview.title}}"
            name="title"
            class="input span6"
            required=""
            placeholder="{{ gettext('Title for your View') }}" />
        </div>
      </div>
      {% if currentUser %}
      <div class="control-group">
        <label for="slug" class="control-label">{{ gettext('Slug') }}</label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on">/{{currentUser.id}}/</span>
            <input type="text" value="{{dataview.name}}" name="name" class="input span4"
              placeholder=""
              required=""
              pattern="[a-z0-9-]+"
              title="{{ gettext('The slug needs to be \'url-usable\' and so must be lowercase containing only alphanumeric characters and \'-\'') }}"
              />
          </div>
          <span class="help-block">{{ gettext('The url of your new timemap. This must be different from the name for any of your existing timemaps. Choose wisely as this is hard to change!') }}</span>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="control-group">
      <label class="control-label">
        {{ gettext('Type of Data View') }}
      </label>
      <div class="controls">
        {% for val in ['timemap', 'timeline', 'map'] %}
        <label class="radio">
          <input
            type="radio"
            name="tmconfig[viewtype]"
            value="{{val}}"
            {% if dataview.tmconfig.viewtype == val %}
            checked="true"
            {% endif %}
            />
          {{ val[0].toUpperCase() + val.slice(1) }}
        </label>
        {% endfor %}
        <span class="help-block">
          {{ gettext('Choose the visualization type of your data - TimeMap (Timeline and Map combined), Timeline or Map.') }}
        </span>
      </div>
    </div>

    <h4 style="text-align: center;">{{ gettext('More Options') }}</h4>
    <div class="control-group">
      <label class="control-label">
        {{ gettext('Ambiguous Date Handling') }}
      </label>
      <div class="controls">
        <label class="radio">
          <input
            type="radio"
            name="tmconfig[dayfirst]"
            value=""
            {% if not dataview.tmconfig.dayfirst %}
            checked="true"
            {% endif %}
            />
          <strong>mm</strong>/dd/yyyy &ndash; {{ gettext("month first (US style)") }}
        </label>
        <label class="radio">
          <input
            type="radio"
            name="tmconfig[dayfirst]"
            value="true"
            {% if dataview.tmconfig.dayfirst %}
            checked="true"
            {% endif %}
            />
          <strong>dd</strong>/mm/yyyy &ndash; {{ gettext("day first (non-US style)") }}
        </label>
        <span class="help-block">
          {{ gettext('How to handle ambiguous dates like "05/08/2012" in source data (could be read as 5th August or 8th of May).') }}
          <br />
          {{ gettext('If you do not have any dates formatted like this then you can ignore this!') }}
        </span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">
        {{ gettext('Start from') }}
      </label>
      <div class="controls">
        {% for val in [['start', 'First event'], ['end', 'Last event'], ['today', 'Today']] %}
        <label class="radio">
          <input
            type="radio"
            name="tmconfig[startfrom]"
            value="{{val[0]}}"
            {% if (val[0] == 'start' and not dataview.tmconfig.startfrom) or dataview.tmconfig.startfrom == val[0]  %}
            checked="true"
            {% endif %}
            />
          {{val[1]}}
        </label>
        {% endfor %}
        <span class="help-block">
          {{ gettext('Where on the timeline should the user start.') }}
        </span>
      </div>
    </div>
  </fieldset>

