{% extends "base.html" %}

{% block bodyclass %}{{ gettext('view') }}{% if embed %} {{ gettext('embed') }}{% endif %}{% endblock %}

{% block extrahead %}
  <!-- Open links in new window/tab by default -->
  <base target="_blank" />

  <link rel="stylesheet" href="/vendor/recline/vendor/leaflet/0.7.3/leaflet.css">
  <!--[if lte IE 8]>
  <link rel="stylesheet" href="/vendor/recline/vendor/leaflet/0.7.3/leaflet.ie.css" />
  <![endif]-->
  <link rel="stylesheet" href="/vendor/recline/vendor/leaflet.markercluster/MarkerCluster.css">
  <link rel="stylesheet" href="/vendor/recline/vendor/leaflet.markercluster/MarkerCluster.Default.css">

  <link rel="stylesheet" href="/vendor/leaflet.label/leaflet.label.css" />

  <link rel="stylesheet" href="/vendor/recline/vendor/timeline/css/timeline.css">

  <!-- Recline CSS components -->
  <link rel="stylesheet" href="/vendor/recline/dist/recline.css">
  <!-- /Recline CSS components -->
{% endblock %}

{% block navbar %}
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand">
        {{title}}
        <small>by</small> <a href="{{authorLink}}">{{viz.owner}}</a>
        <small>using</small>
        <a href="/" title="Created with TimeMapper" style="color: #333;">Time<span class="brand-ext">Mapper</span></a>
      </div>
      <ul class="nav">
      </ul>
      <ul class="nav pull-right">
        <li class="tweet">
          <a href="https://twitter.com/share" class="twitter-share-button" data-related="OKFNLabs" data-hashtags="timeliner" data-dnt="true">Tweet</a>
        </li>
        <li>
          <a class="js-embed" href="#"><i class="icon-code"></i> {{ gettext('Embed') }}</a>
        </li>
        {% if isOwner %}
        <li class="divider-vertical"></li>
        <li>
          <a href="/{{viz.owner}}/{{viz.name}}/edit/" title="Edit Settings"><i class="icon-edit"></i> {{ gettext('Edit') }}</a>
        </li>
        {% endif %}
        <li class="divider-vertical"></li>
        {% if currentUser %}
        <li><a class="username" href="/{{currentUser.id}}" title="My Dashboard"><i class="icon-user"></i></a></li>
        <li><a class="logout" href="/account/logout" title="sign out"><i class="icon-signout"></i></a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="data-views">
  <div class="controls">
    <div class="toolbox hideme">
      <form action="" method="GET" class="form-inline">
        <div class="input-append text-query">
          <input type="text" name="q" value="" class="span3" placeholder="{{ gettext('Search data ...') }}" class="search-query" />
          <a class="js-show-toolbox" href="#"><span class="add-on"><i class="icon-search"></i></span></a>
        </div>
      </form>
    </div>
  </div>
  <div class="panes">
    <div class="timeline-pane">
      <div class="timeline"></div>
      &nbsp;
    </div>
    <div class="map-pane">
      <div class="map"></div>
    </div>
  </div>
</div>

<div class="modal hide fade embed-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{{ gettext('Embed Instructions') }}</h3>
  </div>
  <div class="modal-body">
    <p>{{ gettext('Copy and paste the following into your web page') }}</p>
    <textarea style="width: 100%; height: 100px;" ></textarea>
  </div>
</div>
</div>

<div class="loading js-loading"><i class="icon-spinner icon-spin icon-large"></i> {{ gettext('Loading data...') }}</div>
{% endblock %}

{% block footer %}
  <a href="{{permalink}}">{{title}}</a> by <a href="{{authorLink}}">{{viz.owner}}</a> {{ gettext('using') }} <a href="http://timemapper.okfnlabs.org/">TimeMapper</a>
  {% if viz.licenses.length != 0 %}
  &ndash;
  <a href="{{viz.licenses[0].url}}" title="{{viz.licenses[0].name}}">{{ gettext('License') }}</a>
  {% endif %}
  &ndash;
  <a href="{{viz.resources[0].url}}">{{ gettext('Source Data') }}</a>
{% endblock %}

{% block extrabody %}
  <script type="text/javascript">
    var VIZDATA = {{vizJSON}};
  </script>
  <!-- 3rd party JS libraries -->
  <script type="text/javascript" src="/vendor/recline/vendor/jquery/1.7.1/jquery.js"></script>
  <script type="text/javascript" src="/vendor/recline/vendor/underscore/1.4.4/underscore.js"></script>
  <script type="text/javascript" src="/vendor/recline/vendor/underscore.deferred/0.4.0/underscore.deferred.js"></script>
  <script type="text/javascript" src="/vendor/recline/vendor/backbone/1.0.0/backbone.js"></script>
  <script type="text/javascript" src="/vendor/recline/vendor/moment/2.0.0/moment.js"></script>
  <script type="text/javascript" src="/vendor/recline/vendor/mustache/0.5.0-dev/mustache.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js" integrity="sha384-e0kRLAUzZF/GpUULwXoniNHgUSfqSx0Xg5mdnYeD4W3PGOPxsX8j6pPeCGxWp0Ul" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/vendor/recline/vendor/leaflet/0.7.3/leaflet.js"></script>
  <script type="text/javascript" src="/vendor/recline/vendor/leaflet.markercluster/leaflet.markercluster.js"></script>
  <script type="text/javascript" src="/vendor/recline/vendor/timeline/js/timeline.js"></script>
  <script type="text/javascript" src="/vendor/leaflet.label/leaflet.label.js"></script>

  <script type="text/javascript" src="/vendor/recline/dist/recline.js"></script>
  <script type="text/javascript" src="http://okfnlabs.org/recline.backend.gdocs/backend.gdocs.js"></script>

  <!-- non-library javascript specific to this demo -->
  <script type="text/javascript" src="/js/view.js"></script>
{% endblock %}
