{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
  <div class="span-11 left-pane frontpage">
    <h2>Bring together Time and Space</h2>
    <p>
    Create <strong>'notes' &mdash; for places, people, events &mdash;</strong>
    and string them together into <strong>'threads'</strong> at the click of a
    button. <strong>Automatically visualize</strong> the results temporally and
    spatially, search by any attribute, automatically <strong>import Wikipedia
      articles</strong> and much more.
    </p>
	  <img
      src="http://m.okfn.org/files/talks/media/weavinghistory-napoleon-20091107.png"
      />
  </div>

  <div class="span-11 right-pane frontpage">
    <h2>Sign Up Now</h2>
    <p><a href="{{url_for('account.register')}}">Sign Up Now &raquo;</a></p>
  </div>
{% endblock %}
